<div class="col-xs-6 col-md-3">
  <%= form_tag("/authenticate", method: "POST", class: "form-signin") do %>
    <%= text_field_tag(:login, nil, class: "form-control", autofocus: true,
      required: true, placeholder: "User login") %>
    <%= password_field_tag(:password, nil, class: "form-control",
      required: true, placeholder: "Password") %>
    <%= submit_tag("Login", class: "btn btn-lg btn-primary btn-block") %>
  <% end %>
</div>
