<%= render 'layouts/breadcrumb',
    project_name: @artifact.project.name,
    current_page: 'Note' %>

<div class="row mb-3">
  <h1><%= @artifact.title %></h1>
</div>

<%= react_component("Markdown", { content: @artifact.specific.content }) %>
