<div class="row mb-3">
  <h1><%= @artifact.title %></h1>
</div>

<%=
  opts = { auto_ids: "false" }
  markdown = Kramdown::Document.new(@artifact.specific.content, opts).to_html
  render html: markdown.html_safe
%>
