<!-- load assets/stylesheets/index.css -->
<%= stylesheet_link_tag 'index' %>

<div class="wrap">
	<section class="initial">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<img src="factbox.png" width="175px" class="img-fluid" alt="Factbox"/>
				</div>
				<div class="col-sm-7">
	        <h1>Bem vindo ao Factbox</h1>
	          <p><small>Simples, adaptavél e aberto</small></p>
	      </div>
				<%= render "sessions/new" %>
	    </div>
	  </div>
	</section>

	<section id="register" class="register home-section">
		 <div class="container">
			<div class="row justify-content-between">
				<div class="col-sm-4">
					<h2>Sign in</h2>
					<%= render "users/new" %>
				</div>
				<div class="col-sm-3">
					<div class="thumbnail">
						<h1 class="motive">
							<i class="glyphicon glyphicon-cog"></i> Highly configurable
						</h1>
						<div class="caption">
							User provides how many settings you need
						</div>
					</div>
					<div class="thumbnail">
						<h1 class="motive">
							<i class="glyphicon glyphicon-edit"></i> Easy to contribute
						</h1>
						<div class="caption">
							We build it, to facility your contribute
						</div>
					</div>
					<div class="thumbnail">
						<h1 class="motive">
							<i class=" glyphicon glyphicon-book"></i>
							Helpful to manage requirements
						</h1>
						<div class="caption">
							Now you will have control!
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
