<!-- load assets/stylesheets/index.css -->
<%= stylesheet_link_tag 'index' %>

<div class="wrap">
	<section class="initial">
		<div class="container">
			<div class="row">
				<div class="col-sm-2">
					<img src="factbox.png" width="175px" class="img-fluid" alt="Factbox"/>
				</div>
				<div class="col-sm-7">
	        <h1>Welcome to Factbox</h1>
	          <p><small>Simple, adaptable and open</small></p>
	      </div>
				<%= render "sessions/new" %>
	    </div>
	  </div>
	</section>

	<section id="register" class="register home-section">
		 <div class="container">
			<div class="row justify-content-between">
				<div class="col-sm-4">
					<h2>Sign in</h2>
					<%= render "users/new" %>
				</div>
				<div class="col-sm-5">
					<div class="thumbnail mb-3 mt-3">
						<h1 class="motive">
							<i class="fa fa-cog mr-3"></i> You could create plugins
						</h1>
						<div class="caption">
							Factbox supports plugins to make your working context more
							compatible with your Requirements Engineering modeling.
						</div>
					</div>
					<div class="thumbnail mb-3">
						<h1 class="motive">
							<i class="fa fa-code-branch mr-3"></i> Versioning and traceability
						</h1>
						<div class="caption">
							Your artifacts will always be traced
						</div>
					</div>
					<div class="thumbnail">
						<h1 class="motive">
							<i class="fa fa-book mr-3"></i>
							Do everything collaboratively
						</h1>
						<div class="caption">
							You can create projects and invite your stakeholders to keep them 100% informed
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</div>
