<div class="col-md-3">
  <a class="user-image" href="#">
    <img class="img-rounded col-md-offset-2" width="200px"
      src="http://www.edite.eu/wp-content/plugins/all-in-one-seo-pack/images/default-user-image.png">
  </a>
</div>
<div class="page-head col-md-9">
  <h1>
    <%= @user.name + ' ' + @user.lastName %>
    <small>@<%= @user.login %></small>
  </h1>
  <div class="row">
    <div class="email info col-md-3">
      <i class="glyphicon glyphicon-envelope"></i> <%= @user.email %>
    </div>
    <% if @user.work %>
    <div class="work info col-md-3">
      <i class="glyphicon glyphicon-briefcase"></i> Software Enginner
    </div>
    <% end %>
    <% if @user.location %>
    <div class="location info col-md-3">
      <i class="glyphicon glyphicon-pushpin"></i> Gama-DF
    </div>
    <% end %>
    <div class="date info pull-right col-md-3">
      Membro desde <%= @user.created_at.strftime("%B %d, %Y") %>
    </div>
  </div>
</div>
<div class="col-offset-3 col-xs-3 col-md-9">
  <h3>Atividades Recentes</h3>
</div>
