<div class="container">
  <div class="row d-flex justify-content-center">
    <div class="col-md-2">
      <%= render 'logo' %>
    </div>
  </div>

  <div class="row d-flex justify-content-center">
    <h1><%= @project.name %></h1>
  </div>

  <div class="row d-flex justify-content-center">
    <div class="description info">
      <%= @project.description %>
    </div>
  </div>
    <!-- <div class="actions text-center">
      <% if @project.users.exists?(current_user.id) %>
        <a href="/projects/<%= @project.uri_name %>/artifacts/new" type="button" class="btn btn-primary">
          Create Artifact<i class="fa fa-plus-square ml-3"></i>
        </a>
      <% end %>
    </div> -->
</div>
