<div class="row">
  <div class="card col-md-4">
    <div class="card-body">
      <div class="row justify-content-between">
        <div class="col">
          <h5 class="card-title">Projects</h5>
        </div>
        <div class="col">
          <a class="btn btn-sm btn-primary text-white float-right" href="/projects/new">
            New <i class="fa fa-plus"></i>
          </a>
        </div>
      </div>

      <% unless @user_projects.empty? %>
        <%= render 'projects/project_list', projects: @user_projects %>
      <% else %>
        <div class="panel-body text-center">
          <h4 class="info">
            Nenhum projeto ainda...
          </h4>
          <h4 class="info">
            Crie um aqui <i class="glyphicon glyphicon-arrow-down"></i>
          </h4>
        </div>
      <% end %>
    </div>
  </div>
</div>
