<div class="col-md-12 col-md-offset-2">
  <div class="page-head">
    <h1> Create a new Project </h1>
    <small>You will keep requirements into this project</small>
  </div>
</div>
<div class="col-md-6">
  <div class="page-content">
    <%= render 'form', note: @project %>
  </div>
</div>
