<div class="col-md-8 col-md-offset-2">
  <div class="page-head">
    <h1> Create a new Project </h1>
    <small>You will keep requirements into this project</small>
  </div>

  <div class="page-content">
    <%= render 'form', note: @project %>
  </div>

  <%= link_to 'Back', projects_path, class: 'btn btn-default pull-left'  %>

</div>
