<%= render 'basic_info' %>

<div class="row">
  <div class="col-md-12">
    <%= render 'home_tabs' %>

    <%= render 'plugins' %>

    <div class="tab-content mt-2" id="myTabContent">
      <div class="tab-pane fade show active" id="artifact" role="tabpanel" aria-labelledby="artifact-tab">
        <%= render 'artifact-list' %>
      </div>
  	</div>
  </div>
</div>
