<%= render 'basic_info' %>

<div class="row">
  <div class="col-md-12">
    <%= render 'home_tabs' %>

    <% unless @nodes.empty? %>
      <div class="tab-content mt-2" id="myTabContent">
        <div class="tab-pane fade show active" id="artifact" role="tabpanel" aria-labelledby="artifact-tab">
          <%= react_component("TraceabilityGraph", { nodes: @nodes.to_json, edges: @edges.to_json }) %>
        </div>
      </div>
    <% else %>
      <h4 class="text-center info mt-5">
        <span class="glyphicon glyphicon-info-sign"></span>
        There are no nodes(artifacts) to see in graph yet...
      </h4>
    <% end %>
  </div>
</div>
