<div class="mt-5">
  <div class="row d-flex justify-content-center">
    <div class="col-md-8 align-middle text-center">
      <div class="text-danger">
        <i class="fa fa-exclamation-triangle display-1"></i>
      </div>
      <div class="mt-5 text-muted">
        <p class="display-4">
          You do not seem to have permissions to this.
        </p>
        <p class="display-4">
          Please, consult the project administrators.
        </p>
      </div>
    </div>
  </div>
</div>
