@import "bootstrap";

html {
  position: relative;
  min-height: 100%;
  height: 100%;
}

.wrap {
  height: auto !important;
  min-height: 100%;
}

footer {
  width: 100%;
  background-color: #F2F2F2;
	padding: 20px;
}

footer .copyright {
	color: #000;
	font-size: 20px;
}

.error-element {
  font-size: 16px;
}

.page-head {
  padding-bottom: 25px;
  border-bottom: 1px #DCDCDC solid;
}

.page-head small {
  font-size: 16px;
  color: #808080;
}

.page-content {
  padding-top: 25px;
}

.info {
  color: #696969;
}

#centered-box {
  margin-top: 10%;
  text-align: center;
  margin-bottom: 10%;
}

#centered-box i {
  font-size: 64px;
}

/* Remove the top border when a table is missing the header */
.table > tbody > tr:first-child > td {
    border: none;
}
