// Place all the styles related to the Artifacts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.artifact-types {
  padding: 20px;
  list-style: square;
  background-color: #D9D9D9;
}

.artifact-types li {
  margin-left: 20px;
}
