<div class="col-md-8 col-md-offset-2">
  <div class="page-head">
    <h1>Escolha o tipo de artefato</h1>
    <small>Esses são os artefatos atualmente suportados</small>
  </div>

  <div class="page-content">
    <ul class="artifact-types">
      <% @artifacts.each do |artifact| %>
        <li><a href="/projects/<%= params[:id] %>/artifacts/new/<%= artifact.name %>"><%= artifact.name %></a></li>
      <% end %>
    </ul>
    <%= link_to 'Voltar', projects_path, class: 'btn btn-default pull-left'  %>
  </div>
</div>
