<div class="col-md-8 col-md-offset-2">
  <div class="page-head">
    <h1>Choose the type of artifact</h1>
    <small>These are the currently supported artifacts</small>
  </div>

  <div class="page-content">
    <ul class="artifact-types">
      <% @artifacts.each do |artifact| %>
        <li>
          <a href="/projects/<%= params[:id] %>/artifacts/new/<%= artifact.name %>">
            <%= artifact.name %>
          </a>
        </li>
      <% end %>
    </ul>
    <%= link_to 'Back', "/projects/#{params[:name]}", class: 'btn btn-light pull-left'  %>
  </div>
</div>
