<div class="row mb-3">
  <h1><%= @artifact.title %></h1>
</div>

<div class="row">
  <div class="col-md-8">
    <%= image_tag url_for(@artifact.specific.file), class: "img-fluid img-thumbnail mw-50" %>
  </div>
</div>
