<div class="row">
  <div class="w-100">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active" aria-current="page">
          <a href="/">Home</a>
        </li>
        <li class="breadcrumb-item">
          <a href="/projects/<%= project_name %>"><%= project_name %></a>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
          <a><%= current_page %></a>
        </li>
      </ol>
    </nav>
  </div>
</div>
