<% if flash[:notice] %>
  <script type="text/javascript">
    $(window).on('load',function() {
        $('#alert-modal').modal('show');
    });
  </script>
  <div class="modal fade" id="alert-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content alert alert-success">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <p>
          <%= flash[:notice] %>
          <%= flash[:error] %>
        </p>
      </div>
    </div>
  </div>
<% end %>
