<div class="alert alert-danger col-md-6 col-md-offset-3" id="centered-box">
  <h3 class="error">
    <i class="glyphicon glyphicon-exclamation-sign" aria-hidden="true">
    </i>
    <p>Algo está errado...</p>
  </h3>
  <p class="">
    <%= @message %>
  </p>
</div>
